<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rates Currency</title>
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>
    <nav class="navbar bg-light text-dark px-3">
        <h2 class="navbar-brand">Rates Currency</h2>
    </nav>

    <main class="container mt-4">
        <div class="d-flex justify-content-center mx-auto">
            <div style="width: 50%;" class="first-section">
                <div><label for="usd" style="font-weight: 700;">USD</label></div>
                <input type="number" name="usd" id="usd" step="0.01" min="0.01" value="100" placeholder="0.01" class="form-control w-100" onkeyup="updateRates()">
                <button class="btn btn-success mt-1" onclick="updateRates()">Converter</button>
            </div>
        </div>
        <div class="mt-5 d-flex justify-content-between mx-auto second-section" style="width: 75%;">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">AOA</h5>
                  <h6 class="card-subtitle mb-2 text-muted" id="AOA_cotacao">-</h6>
                  <p class="card-text" id="AOA_cotacao_qntd">0</p>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">BRL</h5>
                  <h6 class="card-subtitle mb-2 text-muted" id="BRL_cotacao">-</h6>
                  <p class="card-text" id="BRL_cotacao_qntd">0</p>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">EUR</h5>
                  <h6 class="card-subtitle mb-2 text-muted" id="EUR_cotacao">-</h6>
                  <p class="card-text" id="EUR_cotacao_qntd">0</p>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer fixed-bottom bg-light text-dark d-flex justify-content-center align-items-center" style="height: 3.3rem;">
        <div class="container d-flex justify-content-center">
            <span class="text-muted">Made by <a href="https://fb.com/icetipofogo" target="_blank" rel="noopener noreferrer" class="text-decoration-none">@HÉLIO3.AO</a></span>
        </div>
    </footer>

    <script src="/static/js/jquery-3.7.0.min.js"></script>
    <script>
        function formatar(valor){
            return valor.toFixed(2).replace('.', ',').replace(/\B(?=(\d{3})+(?!\d))/g, '.');
        }
        function updateRates(){
            // buscar as cotacoes
            $.ajax({
                method: 'get',
                url: '/api',
                beforeSend: function(){
                    $('button').prop('disabled', 'disabled')
                },
                complete: function(){
                    $('button').removeAttr('disabled')
                },
                success: function(data){
                    // actualizar as divs
                    if(data['status'] === false){
                        console.log(data)

                        // setar o cambio referencial
                        $('#AOA_cotacao').html(0)
                        $('#BRL_cotacao').html(0)
                        $('#EUR_cotacao').html(0)

                        // setar o cambio da qntd
                        $('#AOA_cotacao_qntd').html(0)
                        $('#BRL_cotacao_qntd').html(0)
                        $('#EUR_cotacao_qntd').html(0)
                    }else{
                        //
                        input = $('input')

                        // setar o cambio referencial
                        $('#AOA_cotacao').html(formatar(data['AOA']))
                        $('#BRL_cotacao').html(formatar(data['BRL']))
                        $('#EUR_cotacao').html(formatar(data['EUR']))

                        // setar o cambio da qntd
                        $('#AOA_cotacao_qntd').html(formatar(data['AOA'] * input.val()))
                        $('#BRL_cotacao_qntd').html(formatar(data['BRL'] * input.val()))
                        $('#EUR_cotacao_qntd').html(formatar(data['EUR'] * input.val()))
                    }
                }
            })
        }
        function renderizar(){
            width = $(window).width()
            if (width <= 500){
                // celular
                $('.first-section').css('width', '80%')
                $('.second-section').removeClass("d-flex").removeClass("justify-content-between").css('width', '80%')
                $('.card').addClass("mb-1").css("width", "100%")
            }else{
                // computador
                $('.first-section').css('width', '50%')
                if(!$('.second-section').hasClass("d-flex")){
                    $('.second-section').addClass("d-flex").addClass("justify-content-between").css('width', '75%')
                }
                $('.card').removeClass("mb-1").css("width", "18 rem;")
            }
        }

        $(window).on('load', renderizar).on('resize', renderizar)

        // buscar as cotacoes a cada 1.5 segundos
        updateRates()
        setInterval(updateRates, 1500)
    </script>
</body>
</html>